:root {
    --medium-priority-card-color: rgb(253, 228, 118);
    --medium-priority-hover-color: rgb(255, 219, 59);
    --medium-priority-active-color: rgb(223, 188, 35);
    --high-priority-card-color: rgb(255, 154, 123);
    --high-priority-hover-color: rgb(255, 116, 74);
    --high-priority-active-color: rgb(219, 86, 46);
}

.tasks {
    font-size: 1.5rem;
    padding: 1.5rem;

    .taskList {
        display: grid;
        grid-template-columns: repeat(auto-fit, 320px);
        gap: 1.5rem;
    }

    .addNewTask,
    .taskCard {
        padding: 1rem;
        border: 1px solid var(--border-color);
        border-radius: 12px;
        background-color: var(--button-color);
    }


    .addNewTask,
    .taskCard {
        &:hover,
        &:focus-visible {
            background-color: var(--button-hover-color);
            outline: 4px solid black;
        }

        &:hover {
            outline-width: 2px;
        }

        &:active {
            background-color: var(--button-active-color);
        }
    }

    .addNewTask {
        height: 231px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .taskCard {
        p {
            margin: 0px;
        }

        .name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .descr {
            height: 110px;
            text-align: justify;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .date {
            padding: 0px;
            border: none;
        }

        .divider {
            height: 1px;
            margin: 0.5rem 0px;
            border-bottom: 1px solid var(--border-color);
        }
    }

    .taskCard.medium {
        background-color: var(--medium-priority-card-color);

        &:hover,
        &:focus-visible {
            background-color: var(--medium-priority-hover-color);
        }

        &:active {
            background-color: var(--medium-priority-active-color);
        }
    }

    .taskCard.high {
        background-color: var(--high-priority-card-color);

        &:hover,
        &:focus-visible {
            background-color: var(--high-priority-hover-color);
        }

        &:active {
            background-color: var(--high-priority-active-color);
        }
    }
}